<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon routerLink="/home">home</mat-icon>
  </button>
  <span>Employee Management System</span>
  <span class="example-spacer"></span>
  <button mat-raised-button color="warn" (click)="openDialog()">Add Employee</button>
</mat-toolbar>

<div class="container">
  <div class="table">
    <table class="table1">
      <tr>
        <th>EmpId</th>
        <th>FullName</th>
        <th>Email</th>
        <th>Password</th>
        <th>MobileNumber</th>
        <th>Address</th>
        <th>Gender</th>
        <th>Position</th>
        <th>Salary</th>
        
      </tr>
      <tr *ngFor="let arr of dataSource">
        <td>{{arr.empId}}</td>
        <td>{{arr.fullName}}</td>
        <td>{{arr.email}}</td>
        <td> {{arr.password}}</td>
        <td >{{arr.mobileNumber}}</td>
        <td >{{arr.address}}</td>
        <td >{{arr.gender}}</td>
        <td >{{arr.position}}</td>
        <td >{{arr.salary}}</td>
        <div class="headbtn">
        <td><button class="editbtn" routerLink="/update">Update</button></td>
        <td><button class="deletebtn">Delete</button></td>
      </div>
      </tr>
    </table>
  </div>
</div>