.example-spacer {
    flex: 1 1 auto;
  }
  .container{
    border: 1px solid rgb(224, 9, 45);
    max-width: 1050px;
    margin: 0 auto;
  }
  table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 15px;
    width: 100%;
  }
 
  

