<div class="component">
    
    <div class="img">
        <h1>Employee Management System</h1></div>
        <img class="image" src="../../../assets/home22.svg">
    
    <div class="form-head" >
        
        <div class="form-box" >
            <img class="online" src="../../../assets/admin1.jpg">
            <button type="button" class="toggle-btn">
                <a routerLink="/signin">ADMIN</a>
            </button>
           
            
        </div>
        <div class="forthdiv">
            <img class="onlineclass" src="../../../assets/EmpPhoto.webp">
            <button type="button" class="toggle-btna">
               <a routerLink="/emplogin">EMPLOYEE</a></button>
        </div>
    </div>
</div>