<div class="outerstyle">
    
    <div class="seconddiv">
        <div class="seconddiv2">
            <div class="thirddiv">
                <h2>
                    Edit Employee Details
                </h2>
            </div>
            <form class="form">
                <div>
                    <input type="text" class="input-field" placeholder="Employee_ID" formControlName="EmpId" required>
                </div>
                <div>
                    <input type="text" class="input-field" placeholder="Fullname" formControlName="fullname" required>
                </div>
                <div>
                    <input type="text" class="input-field" placeholder="Email" formControlName="email" required>
                </div>
                <div>
                    <input type="text" class="input-field" placeholder="Password" formControlName="password" required>
                </div>
                <div>
                    <input type="text" class="input-field" placeholder="Mobile Number" formControlName="mobilenumber"
                        required>
                </div>
                <div>
                    <input type="text" class="input-field" placeholder="Address" formControlName="address" required>
                </div>
                <div>
                    <input type="text" class="input-field" placeholder="Gender" formControlName="gender" required>
                </div>
                <div>
                    <input type="text" class="input-field" placeholder="Position" formControlName="position" required>
                </div>
                <div>
                    <input type="text" class="input-field" placeholder="Salary" formControlName="salary" required>
                </div>
                <div class="btn" >
                    
                    <button type="back" routerLink="/dashboard" mat-raised-button color="blue"> Go Back</button>
                    <button type="update" mat-raised-button color="blue">update</button>
                </div>
            </form>
        </div>
    </div>

</div>